/*page layout*/
html{
    font-size: 14px;
}
body{
    margin: 0 auto;
    font-family: 'raleway';
    text-align: center;
    display: block;
}

h2,h3,h5{
    font-family: 'playfair';
    font-style: italic;
}

.boldtext{
    font-family: 'playfair';
    font-weight: bold;
    font-style: normal;
}

h2,h3,h5,.boldtext{
    font-size: 2.4rem;
}

.captiontext{
    font-family: 'raleway';
    font-weight: lighter;
    font-size: 1.15rem;
    line-height: 2;
}

.navbar{
    height: 116px;
    background: white;
    display: flex;
    z-index: 2;
}

.navcontainer{
    width: 97%;
    height: 92px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
    height: 55%;
    display: flex;
    justify-content: flex-start;
}

.cart{
    width: 50%;
    height: 55%;
    display: flex;
    justify-content: flex-end;
}

.logo img{
    width: 120px;
    max-width: 100%;
}

.cart img{
    width: 51px;
    max-width: 100%;
}

.navmenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-top: solid 1px lightgray;
    order: 2;
}

.navmenu ul{
    display: inline-flex;
}

.navmenu li a{
    font-family: 'ralewaymedium';
    font-style: normal;
    font-size: 1rem;
    color: #e2574c;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
}

.navmenu li a:hover{
    color: #b64036;
}

.bannercontainer{
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

.banner{
    height: 400px;
    background:linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
     url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-size: 100%, 148px, cover;
    background-position: center, center 62px,top;
    background-repeat: no-repeat;
    background-color: #696969;
    display: flex;
    justify-content: center;
}

.new{
    font-family: 'ralewaymedium';
    font-style: normal;
    font-size: 1.8rem;
    font-variant: small-caps;
    padding-bottom: 20px;
    z-index: 1;
}

.spring{
    font-size: 2.5rem;
    font-family: 'playfair';
    font-style: normal;
    z-index: 1;
}

.caption{
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.captioncontainer{
    height: 57%;
    padding: 0 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.smallcat{
    width: 50%;
}

.largecat{
    width: 100%;
}

.cat1large{
    padding:23%;
    background:linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url("../images/mens-category.jpg");
    background-size: cover;
    border-bottom: 4px solid white;
    text-align: center;
}

.cat2small{
    padding: 45% 0 45% 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url("../images/trends-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-left: none;
    text-align: center;
}

.cat3small{
    padding: 45% 0 45% 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url("../images/glasses-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-right: none;
    text-align: center;
}

.cat4small{
    padding: 45% 0 45% 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url("../images/sale-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-left: none;
    text-align: center;
}

.cat5small{
    padding: 45% 0 45% 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url("../images/bags-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-right: none;
    text-align: center;
}

.cat6large{
    padding:23%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url("../images/womens-category.jpg");
    background-size: cover;
    border-top: 4px solid white;
    text-align: center;
}

.catname{
    font-family: 'ralewaymedium';
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-shadow:  1px 1px 10px rgba(0,0,0,0.3);
    width: 100%;
    text-decoration: none;
}

.catname:hover{
    color: #b64036;
}

.products{
    height: 620px;
}

.mostloved{
    margin: 60px 0;
}

.productcontainer{
    height: inherit;
    display: block;
}

.item img{
    width: 315px;
    margin: 0 auto;
}

.item{
    position: relative;
    width: 100%
    /*margin: 20px auto;*/
}

.itemtext{
    height: 100px;
    margin: 10px 0;
    color: #969696;
}

.itemname{
    font-family: ralewaymedium;
    font-size: 1.1rem;
    font-variant: small-caps;
}

.itemprice{
    font-family: 'ralewaymedium';
}
h4{
    font-family: 'playfair';
    font-size: 1.5rem;
    color: #e2574c;
    padding: 18px;
}

.signup{
    height: 332px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.15), 
      rgba(0, 0, 0, 0.15)),
    url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    border-bottom: white solid 8px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

.signupcontainer{
    height: 225px;
    display: block;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

h5,.boldtext{
    font-size: 2.4rem;
}

lable{
    background-color: white;
    border: 2px white solid;
    border-radius: 25px;
    padding-right: 110px;
    padding-left: 20px;
    color: lightgrey;;
}

.subscribe{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    border: solid white 2px;
    border-radius: 25px;
    height: 40px;
    width: 82.92%;
    display: flex;
}

.email,button{
    border: none;
    border-radius: 25px;
    height: 38px;
    font-size: 1rem;
}

.email{
    width: 71.54%;
    font-family: 'raleway';
    font-style: light;
    outline: none;
    padding-left: 5%;
}

button{
    position: relative;
    right: 2px;
    top: 1px;
    width: 110px;
    color: white;
    background-color: #e2574c;
    justify-content: flex-end;
}

button:hover{
    background-color: #b64036;
}

footer{
    height: 301px;
    background-color: #242424;
}

.footercontainer{
    height: 180px;
    margin: 0 auto;
    padding: 55px 0;
}


.info{
    font-family: 'playfair';
    text-align: center;
    font-size: 1rem;
    color: white;
    display: block;
    line-height: 1.6;
    padding-bottom: 30px;
}

.infoemail{
    padding: 10px 0 15px;
}

.infoemail a{
    color:white;
}

.infoemail a:hover{
    color:#b64036;
}

.location{
    color: grey;
}

.social li{
    display: inline;
}

.social i{
    padding: 5px;
    color: white;
}

i:hover{
    color:#b64036;
}

.social span{
    display: none;
}

.social a {
     text-decoration: none;
}

/*--------------------TABLET---------------------*/

@media screen and (min-width: 600px){
    html{
        font-size: 16px;
    }

    h2,h3,h5,.boldtext{
        font-size: 2.4rem;
    }
    
    .navbar{
        height: 83px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navcontainer{
        width: 96%;
        height: 48px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 2%;
    }

    .logo{
        width: 120px;
        height: 100%;
        display: flex;
    }

    .logo img{
        width: 120px;
        order: 1;
    }

    .cart{
        width: 120px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        order: 3;
    }

    .cart img{
        width: 48px;
    }

    .navmenu{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
        border: none;
    }

    .navmenu ul{
        display: inline-flex;
    }

    .navmenu li a{
        font-size: 0.9rem;
        padding: 0 10px;
    }

    .banner{
        height: 400px;
        background-repeat: no-repeat;
        background-size: 100%, 150px, cover;
        background-position: center, center 60px,top;
    }

    .new{
        padding-bottom: 22px;
    }

    .spring{
        font-size: 3rem;
    }

    .caption {
        height: 265px;
    }  

     .captiontext {
        padding: 0px 30px;
        font-size: 1.15rem;
    }

    .captioncontainer{
        max-width: 650px;
        height: 50%;
    }

    .largecat{
        width: 50%;
    }

    .smallcat{
        width: 25%;
    }

    .cat1large{
        padding: 22%;
        border: 4px solid white;
        border-left: none;
    }
    .cat2small{
        border: 4px solid white;
        padding: 43% 0 45% 0;
    }
    .cat3small{
        border: 4px solid white;
        border-right: none;
        padding: 43% 0 45% 0;
    }
    .cat4small{
        border: 4px solid white;
        border-left: none;
        padding: 43% 0 45% 0;
    }
    .cat5small{
        border: 4px solid white;
        padding: 43% 0 45% 0;
    }
    .cat6large{
        padding: 22%;
        border: 4px solid white;
        border-right: none;
    }

    .catname{
        font-size: 1.8rem;
    }

    .images1{
        width: 25%;
    }

    .images2{
        width: 50%;
    }

    .item{
        width: 39.28%;
        margin: 0 31px 30px;
        display: inline-block;
        vertical-align: top;
    }

    .item img{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .itemtext p{
        font-size: 1.05rem;
    }

    h4{
        font-size: 1.5rem;
        padding-bottom: 22px;
    }

    .signup{
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 75px 0;
    }

    .signupcontainer{
        padding: 0 12px;
        height: 100%;
        max-width: 700px;
    }

    .signupcontainer p{
        padding: 20px 0;
        max-width: 100%;
    }

    .subscribe{
        width: 65%;
        max-width: 450px;
        margin: 0 100px;
    }

    .footercontainer{
        font-size: 1rem;
        height: 150px;
        width: 100%;
        padding: 0;
        margin: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info{
        height: 100%;
        font-size: 1rem;
        text-align: left;
        padding: 0;
        align-content: center;
    }

    .infoemail{
        padding:15px 0;
    }

    .social{
        height: 100%;
        align-content: center;
    }

    .social span{
       display: inline;
       padding-right: 1rem;
       color: white;
       font-size: 1rem;
    }

    .social li a{
       display: block;
       padding: 2px;
       text-align: left
    }

    .social i{
       width: 20px;
    }

    a :hover{
       color: #b64036;
    }

    footer{
       height:287px;
       display: flex;
       align-items: center;
    }
}


/*--------------------DESKTOPFULL---------------------*/

@media screen and (min-width: 1240px) {

    .navbar{
        height: 97px;
        display: flex;
        justify-content: center;
    }

    .navcontainer{
        height: 80px;
        padding: 0px 45px;
        max-width: 1280px;
    }

    .logo{
        width: 160px;
        justify-content: flex-start;
    }

    .logo img{
        width: 200px;
    }

    .cart{
        width: 160px;
    }

    .cart img{
        width: 62px;
    }

    .navmenu{
        display: flex;
        justify-content: center;
    }

    .navmenu li a{
        font-size: 1rem;
        padding: 18px;
    }

    .banner{
        height: 550px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-size: contain, 250px, contain;
    }

    .spring{
        font-size: 4rem;
    }

    .catname{
        font-size: 2.5rem;
    }

    .products{
        height: 590px;
    }

    .item{
        width: 50%;
        margin: 0 29px;
        display: inline-block;
        vertical-align: top;
    }

    .item img{
        width: 235px;
        margin: 0 auto;
    }

    h4{
        font-size: 1.5rem;
        padding-bottom: 22px;
    }

    .subscribe{
        margin: 0 415px;
    }

    footer{
        display: flex;
        justify-content: center;
    }

    .footercontainer{
        margin:0 2.8rem; 
        max-width: 1188px;
    }

    .social{
        padding-right: 3rem;
    }

    .main-carousel{
        cellAlign: 'left'
    }
}