/*page layout*/
html{
    font-size: 14px;
}
body{
    margin: 0 auto;
    font-family: 'ralewaylight';
    text-align: center;
    display: block;
}

h2,h3,h5{
    font-family: 'playfair_displayitalic';
}

.boldtext{
    font-family: 'playfair_displaybold';
}

h2,h3,h5,.boldtext{
    font-size: 2.2rem;
    padding-bottom: 26px;
}

.captiontext{
    font-family: 'ralewaylight';
    font-size: 1.15rem;
    line-height: 1.9;
    padding: 0 10px;
}

.navbar{
    height: 107px;
    background: white;
    display: flex;
}

.navcontainer{
    width: 97%;
    height: 92px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
}

.cart{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.logo img{
    width: 120px;
    max-width: 100%;
}

.cart img{
    width: 51px;
    max-width: 100%;
}

.navmenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-top: solid 1px lightgray;
    order: 2;
}

.navmenu ul{
    display: inline-flex;
}

.navmenu li a{
    font-family: 'ralewaymedium';
    font-size: 0.9rem;
    color: #e2574c;
    padding: 0 12px;
    text-decoration: none;
    display: flex;
    text-transform: uppercase;
}

.banner{
    height: 400px;
    background: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-size: 148px, cover;
    background-position: center 62px,top;
    background-repeat: no-repeat, no-repeat;
    background-color: #696969;
}

.gradient{
    height: inherit;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0.25) 100%);
}

.bannercontainer{
    text-align: center;
    position: relative;
    padding-top: 156px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.new{
    font-family: 'ralewaymedium';
    font-size: 1.8rem;
    font-variant: small-caps;
    padding-bottom: 20px;
}

.spring{
    font-size: 2.5rem;
    font-family: 'playfair_displayregular';
}

.caption{
    height: 165px;
    padding: 50px 0;
}

.category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.smallcat{
    width: 50%;
}

.largecat{
    width: 100%;
}

.smallcat img{
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.largecat img{
    box-sizing: border-box;
    width: 100%;
    display: block;
    display: flex;
}

.cat1large{
    padding:23%;
    background-image: url("../images/mens-category.jpg");
    background-size: cover;
    border-bottom: 4px solid white;
    text-align: center;
}

.cat2small{
    padding:45%;
    background-image: url("../images/trends-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-left: none;
    text-align: center;
}

.cat3small{
    padding:45%;
    background-image: url("../images/glasses-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-right: none;
    text-align: center;
}

.cat4small{
    padding:45%;
    background-image: url("../images/sale-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-left: none;
    text-align: center;
}

.cat5small{
    padding:45%;
    background-image: url("../images/bags-category.jpg");
    background-size: cover;
    border: 4px solid white;
    border-right: none;
    text-align: center;
}

.cat6large{
    padding:23%;
    background-image: url("../images/womens-category.jpg");
    background-size: cover;
    border-top: 4px solid white;
    text-align: center;
}

.catname{
    font-family: 'ralewaymedium';
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    text-shadow:  1px 1px 10px rgba(0,0,0,0.3);
    width: 100%;
}

.products{
    height: 1895px;
}

h3{
    margin-top: 60px
}

.productcontainer{
    height: inherit;
    display: block;
}

.item img{
    width: 315px;
    margin: 0 auto;
}

.item{
    position: relative;
    margin: 20px auto;
}

.itemtext{
    height: 100px;
    margin: 10px 0;
    color: #969696;
}

.itemname{
    font-family: ralewaymedium;
    font-size: 1.1rem;
    font-variant: small-caps;
}

.itemprice{
    font-family: 'ralewaymedium';
}
h4{
    font-family: 'playfair_displayregular';
    font-size: 1.5rem;
    color: #e2574c;
    padding: 18px;
}

.signup{
    height: 332px;
    background-image: url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    border-bottom: white solid 8px;
    background-color: lightgrey;
}

.signupcontainer{
    height: 150px;
    display: block;
    padding-top: 60px;
    margin-bottom: 24px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

h5,.boldtext{
    font-size: 2.4rem;
    padding-bottom: 20px;
}

lable{
    background-color: white;
    border: 2px white solid;
    border-radius: 25px;
    padding-right: 110px;
    padding-left: 20px;
    color: lightgrey;;
}

.subscribe{
    background-color: white;
    border: solid white 2px;
    border-radius: 25px;
    height: 40px;
    width: 82.92%;
    padding-left: 3.3333%;
    margin: 0 6.458%;
    display: flex;
}

.email,button{
    border: none;
    border-radius: 25px;
    height: 38px;
    font-size: 1rem;
}

.email{
    width: 71.54%;
    font-family: 'ralewaylight';
    outline: none;
}

button{
    position: relative;
    right: 2px;
    top: 1px;
    width: 110px;
    color: white;
    background-color: #e2574c;
    justify-content: flex-end;
}

button:hover{
    background-color: #b64036;
}

footer{
    height: 301px;
    background-color: #242424;
}

.footercontainer{
    height: 180px;
    margin: 0 auto;
    padding: 55px 0;
}


.info{
    font-family: 'playfair_displayregular';
    text-align: center;
    font-size: 1rem;
    color: white;
    display: block;
    line-height: 1.6;
    padding-bottom: 30px;
}

.infoemail{
    padding: 10px 0 15px;
}

.infoemail a{
    color:white;
}

.infoemail a:hover{
    color:#b64036;
}

.location{
    color: grey;
}

.social li{
    display: inline;
}

.social i{
    padding: 5px;
    color: white;
}

i:hover{
    color:#b64036;
}

.social span{
    display: none;
}

.social a {
     text-decoration: none;
}

/*--------------------TABLET---------------------*/

@media screen and (min-width: 480px){
    html{
        font-size: 16px;
    }

    h2,h3,h5,.boldtext{
        font-size: 2.1rem;
        padding-bottom: 22px;    
    }

    .banner{
        background-size: 150px, cover;
    }

    .caption{
        height: 120px;
    }

    .captiontext{
        font-size: 1rem;
        line-height: 2;
    }

    .products{
        height: 1942px;
    }

    h3{
        margin-top: 56px;
        padding-bottom: 32px;
    }

    .productcontainer{
        width: 100%;
    }

    .item{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .item, img{
        width: 320px;
    }

  .itemname, .itemprice{
        font-size: .9rem;
    }

    h4{
        padding: 17px 0;
        font-size: 1.3rem;
    }

    .signupcontainer{
        padding-top: 56px;
        margin-bottom: 28px;
    }

    .captiontext{
        padding: 0 15px;
    }

    .email{
        width: 77.85%;
    }

    button, .email{
        font-size: 0.9rem;
    }

    .footercontainer{
        font-size: 0.9rem;
    }

    .info{
        height: 130px;
        padding-bottom: 35px;
        font-size: 0.9rem;
    }

    .infoemail{
        padding: 10px 0;
    }

    .location{
        margin-bottom: 20px;
    }

}

/*--------------------DESKTOP---------------------*/

@media screen and (min-width: 600px){
    html{
        font-size: 16px;
    }

    h2,h3,h5,.boldtext{
        font-size: 2.4rem;
        padding-bottom: 24px;
    }
    
    .navbar{
        height: 78px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navcontainer{
        width: 100%;
        height: 48px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 2%;
    }

    .logo{
        width: 120px;
        height: 100%;
        display: flex;
    }

    .logo img{
        width: 120px;
        order: 1;
    }

    .cart{
        width: 120px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        order: 3;
    }

    .cart img{
        width: 48px;
    }

    .navmenu{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
        border: none;
        padding-top: 0;
    }

    .navmenu ul{
        display: inline-flex;
    }

    .navmenu li a{
        font-size: 0.9rem;
    }

    .banner{
        height: 400px;
        background-repeat: no-repeat;
        background-size: 150px, cover;
        background-position: center 60px,top;
    }

    .bannercontainer{
        padding-top: 150px;
    }

    .new{
        padding-bottom: 22px;
    }

    .spring{
        font-size: 3rem;
    }

    .caption {
        height: 134px;
        padding: 64px 0;
    }  

    .captiontext {
        padding: 0px 30px;
        font-size: 1.15rem;
    }

    .images1{
        width: 25%;
    }

    .images2{
        width: 50%;
    }

    .products{
        height: 1000px;
    }

    h3{
        margin-top: 64px;
        padding-bottom: 50px;
    }


    .item{
        width: 39.28%;
        margin: 0 31px 30px;
        display: inline-block;
        vertical-align: top;
    }

    .item img{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .itemtext p{
        font-size: 1.05rem;
    }

    h4{
        font-size: 1.5rem;
        padding-bottom: 22px;
    }

    .signupcontainer{
        padding-top: 64px;
        margin-bottom: 17px;
    }

    .signup{
        height: 346px;
    }

    .signupcontainer p{
        padding: 0 70px;
    }

    .subscribe{
        margin: 20px auto;
        width: 60%;
        max-width: 425px;
        height: 44px;
        padding-left: 24px;
    }

    button{
        width: 120px;
        height: 42px;
    }

    .email{
        width: 70.96%;
    }

    button,.email{
        font-size: 1rem;
    }

    .footercontainer{
        font-size: 1rem;
        height: 150px;
        width: 100%;
        padding: 0;
        margin: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .info{
        height: 100%;
        font-size: 1rem;
        text-align: left;
        padding: 0;
        align-content: center;
    }

    .infoemail{
        padding:15px 0;
    }

    .social{
        height: 100%;
        align-content: center;
    }

    .social span{
       display: inline;
       padding-right: 1rem;
       color: white;
       font-size: 1rem;
    }

    .social li a{
       display: block;
       padding: 2px;
       text-align: left
    }

    .social i{
       width: 20px;
    }

    a :hover{
       color: #b64036;
    }

    footer{
       height:287px;
       display: flex;
       align-items: center;
    }
}


/*--------------------DESKTOPFULL---------------------*/

@media screen and (min-width: 1240px) {

    .navbar{
        height: 88px;
    }

    .navcontainer{
        height: 80px;
    }

    .logo{
        width: 160px;
        justify-content: flex-start;
    }

    .logo img{
        width: 200px;
    }

    .cart{
        width: 160px;
    }

    .cart img{
        width: 62px;
    }

    .navmenu{
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .navmenu li a{
        font-size: 1rem;
        padding: 18px;
    }

    .banner{
        height: 550px;
        background-repeat: no-repeat, repeat-x;
        background-size: 250px, contain;
    }

    .bannercontainer{
        padding-top: 214px;
    }

    .spring{
        font-size: 4rem;
    }


    .products{
        height: 500px;
    }

    .item{
        width: 18.14%;
        margin: 0 29px;
        display: inline-block;
        vertical-align: top;
    }

    .item img{
        width: 235px;
        margin: 0 auto;
    }

    h4{
        font-size: 1.5rem;
        padding-bottom: 22px;
    }

    .signupcontainer p{
        padding: 0 289px;
    }

    .subscribe{
        margin: 0 415px;
    }

    .footercontainer{
        margin:0 3rem; 
    }

    .social{
        padding-right: 3rem;
    }
}